<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>

If you would like to contact Michael Hartl, well try this <a href="admin@railstutorial.org">email</a>
<br>
But if you want to contact me, I would highly recommend <i>my</i> <a href="maryamsyed2096@gmail.com">email</a>
<br>
Have a good one! :) 
